{% extends 'analyst/base.html' %}
{% load analyst_extras  %}

{% block content %}
    <div class="text-2xl font-bold pb-4">
        {{ org.name }}
    </div>

    <div class="text-lg">EIN: {{org.ein}} </div>
    <div class="text-lg">City: {{org.city}} </div>
    <div class="text-lg">State: {{org.state}} </div>
    <div class="text-lg">Country: {{org.country}} </div>
    <div class="text-lg">Revenue: {{org.revenue_amount|currency}} </div>
    <div class="text-lg">Assets: {{org.asset_amount|currency}} </div>
    <div class="text-lg">Income: {{org.income_amount|currency}} </div>

    <a class="text-blue-800 underline" href="{{ search_string }}" target="_blank">
        <div class="text-lg">Google Search →</div>
    </a>

    <a href="Vantage+Leadership+Initiative"></a>
{% endblock %}