{% extends 'analyst/base.html' %}
{% load analyst_extras %}

{% block content %}
    <div class="overflow-x-scroll">

        <table class="w-full overflow-x-scroll">
            <tr class="text-left">
                <th class="pr-4">Name</th>
                <th class="pr-4">EIN</th>
                <th class="pr-4">NTEE</th>
                <th class="pr-4">Latest Revenue</th>
                <th class="pr-4">City</th>
                <th class="pr-4">State</th>
            </tr>
            {% for org in orgs %}
                <tr>
                    <td class="pr-4">{{ org.name }}</td>
                    <td class="pr-4">{{ org.ein }}</td>
                    <td class="pr-4">{{ org.ntee_code }}</td>
                    <td class="pr-4">{{ org.revenue_amount|currency }}</td>
                    <td class="pr-4">{{ org.city }}</td>
                    <td class="pr-4">{{ org.state }}</td>
                </tr>
            {% endfor %}
        </table>
        
    </div>
{% endblock %}