{% extends 'analyst/base.html' %}

{% block content %}
    <div class="flex pb-4 text-midnight">

        <form class="w-full" action="">
            <div class="grid grid-cols-2 gap-8 w-full">
                <div class="paragraph-1">
                    <label for="name-filter">Name</label>
                    <input type="text" name="name-filter" class="search-box-1">
                </div>

                <div class="grid grid-cols-2 gap-2 mb-4">
                    <div class="paragraph-1">
                        <label for="state-filter">State</label>
                        <select hx-post="/orgcitylister" hx-trigger="change" hx-target="#citiescontainer" hx-swap="innerHTML" name="state-filter" class="search-box-1">
                            <option value="" default></option>
                            {% for state in states %}
                                <option value="{{state.abbreviation}}">{{state.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="paragraph-1">
                        <label for="city-filter">City</label>
                        <select id="citiescontainer" name="city-filter" class="search-box-1">
                        </select>
                    </div>
                    
                </div>

                <div class="paragraph-1">
                    <label for="name-filter">
                        <select class="border-0" name="categorical-filter-options" id="">
                            <option value="nteecode" default>NTEE Code</option>
                            <option value="activitycode" default>Activity Code</option>
                        </select>

                        <select class="border-0" name="categorical-filter-modalities" id="" placeholder="d">
                            <option value="isexactly" default>Is exactly</option>
                            <option value="includes" default>Includes</option>
                            <option value="doesnotinclude" default>Does not include</option>
                        </select>
                    </label>
                    <input placeholder="Separate multiple values with commas" type="text" name="categorical-filter"  class="search-box-1">
                </div>

                <div class="paragraph-1">
                    <label for="name-filter">
                        <select class="border-0" name="quantitative-filter-options" id="">
                            <option value="revenue" default>Revenue</option>
                            <option value="assets" default>Assets</option>
                            <option value="income" default>Income</option>
                        </select>

                        <select class="border-0" name="quantitative-filter-modalities" id="">
                            <option value="isgreaterthan" default>Is greater than</option>
                            <option value="islessthan" default>Is less than</option>
                            <option value="isexactly" default>Is exactly</option>
                        </select>
                    </label>
                    <input type="text" name="quantitative-filter"  class="search-box-1">
                </div>
            </div>
            
            
    
            <div class="w-min my-6" id="searchbutton">
                <div hx-post="/orgsearchhelper" 
                     hx-trigger="click" 
                     hx-target="#org-list-container" 
                     hx-swap="outerHTML" 
                     hx-indicator="#spinner"
                     class="white-on-midnight-button">
                    Search
                </div>
            </div>
        </form>
    </div>

    <hr class="mb-6">

    <div class="grid grid-cols-10 font-bold pb-2 text-midnight">
        <div class="col-span-4 flex items-center">
            <div class="columnheader hover:cursor-pointer pr-2" id="nameheader">
                Name
            </div>
            <div id="namearrow" class="arrow transitions">›</div>
        </div> 

        <div class="flex items-center">
            <div class="columnheader hover:cursor-pointer pr-2" id="cityheader">
                City
            </div>
            <div id="cityarrow" class="arrow transitions">›</div>
        </div> 

        <div class="flex items-center">
            <div class="columnheader hover:cursor-pointer pr-2" id="stateheader">
                State
            </div>
            <div id="statearrow" class="arrow transitions">›</div>
        </div> 

        <div class="flex items-center">
            <div class="columnheader hover:cursor-pointer pr-2" id="nteeheader">
                NTEE
            </div>
            <div id="nteearrow" class="arrow transitions">›</div>
        </div> 

        <div class="col-span-2 flex items-center">
            <div class="columnheader hover:cursor-pointer pr-2" id="revenueheader">
                Revenue
            </div>
            <div id="revenuearrow" class="arrow transitions">›</div>
        </div> 

        <div class="flex items-center">
            <div class="columnheader hover:cursor-pointer pr-2" id="einheader">
                EIN
            </div>
            <div id="einarrow" class="arrow transitions">›</div>
        </div> 
    </div>
    
    <div class="relative text-midnight">
        <div class="isogrid" id="org-list-container">
        
        </div>
        <div class="flex justify-center">
            <div id="spinner" class="absolute left-[50%] translate-x-[-50%] top-10 loader htmx-indicator w-20 h-20 mt-20">

            </div>
        </div>
    </div>
{% endblock %}

{% block page_specific_js %}
    <script>

        function establishIsotope() {
            $('.isogrid').isotope({
                // options
                itemSelector: '.isogrid-item',
                layoutMode: 'fitRows',
    
                getSortData: {
                    name: '.name',
                    city: '.city',
                    state: '.state',
                    ntee: '.ntee',
                    revenue: '.revenue parseInt',
                    ein: '.ein',
                }
            });
        };

        establishIsotope();

        $('.columnheader').on('click', function() {
            establishIsotope();

            $('.arrow').removeClass('rotate-90');
            $('.isogrid').isotope('reloadItems');

        });

        $("#nameheader").on("click", function() {            
            $('#namearrow').toggleClass('rotate-90');
            $('.isogrid').isotope({sortBy: 'name', sortAscending: true});
        });

        $("#cityheader").on("click", function() {            
            $('#cityarrow').toggleClass('rotate-90');
            $('.isogrid').isotope({sortBy: 'city', sortAscending: true});
        });

        $("#stateheader").on("click", function() {
            $('#statearrow').toggleClass('rotate-90');
            $('.isogrid').isotope({sortBy: 'state', sortAscending: true});
        });

        $("#nteeheader").on("click", function() {
            $('#nteearrow').toggleClass('rotate-90');
            $('.isogrid').isotope({sortBy: 'ntee', sortAscending: true});
        });

        $("#revenueheader").on("click", function() {
            $('#revenuearrow').toggleClass('rotate-90');
            $('.isogrid').isotope({sortBy: 'revenue', sortAscending: false} );
        });

        $("#einheader").on("click", function() {
            $('#einarrow').toggleClass('rotate-90');
            $('.isogrid').isotope({sortBy: 'ein', sortAscending: true} );
        });

    </script>
{% endblock %}