{% extends 'analyst/base.html' %}

{% block content %}
    <div class="py-4">
        <div class="text-2xl font-bold pb-10">
            Version History
        </div>

        <div>
            <div class="text-lg font-bold">Version 0.1.0 - Monday, September 9, 2024</div>
            <hr class="my-1">
            <div class="text-md">
                Created the site framework and login system and pulled an initial data set from the ProPublica database. Began creating a heirarchical model for geographies. Implemented a basic search interface at /organizations/search and a basic organization entry page at /organizations/detail/&lt;id&gt; listing data from the ProPublica source. 
            </div>
        </div>
    </div>
{% endblock %}